/******

 * Curated Search CSS 

******/

#add_exclude_list > tr:nth-child(2n) {  background-color: #eee; }

.cs-excluded-wrap select { min-width: 160px; }

#cs_status { min-height: 10px; }

.cs-meta-txt { font-size: 14px; margin-left: 150px; padding: 0px 50px 15px 12px; }

.ptot { min-height: 35px; position: relative; width: 100%; }

#cs_pintotop { position: absolute; right: 0; top: 8px; }

ul#pinned-lists li span.handle { font-size:35px; cursor: move; font-family:dashicons; color:#666; }

.post_list_wrap ul#pinned-lists li span.remove { cursor: pointer; float: right; font-size: 24px; }

.ui-tabs #tabs-post.ui-tabs-panel { padding: 1em 1.4em 0; }

.cs_response { margin: 0 0 0 24px; min-height:100px }

#cs_tabs ul.ui-tabs-nav .ui-state-default.ui-state-active { background-color: #fff; }

.no-margin { margin-bottom: -10px; }

.menu-item-handle, .widget .widget-top { padding: 15px; }

.pinned_add_posts .ui-widget-header {  background: #f5f5f5 none repeat scroll 0 0;  border: 1px solid #ccc; }

.pinned_add_posts  .ui-widget-content {  border: 1px solid #e5e5e5; }

.block-bgcolr { background: none repeat scroll 0 0 #fff; border: 1px solid #eee; box-sizing: border-box; margin-bottom: 10px; padding: 10px 15px; }

